#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Uncomment this to change the hardening options
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@ --parallel \
		--with autotools-dev --with autoreconf \
		--buildsystem=autoconf

override_dh_auto_clean:
	rm -f config.log
	dh_auto_clean

override_dh_auto_configure:
	# Skip, we'll reconfigure before each build.
	true

override_dh_auto_build:
	# Build for 11.
	rm -f config.log
	dh_auto_clean
	dh_auto_configure -- --with-asterisk100 --with-bcg729 \
	  --with-asterisk-includes=../asterisk-11/include \
	  --libdir=/usr/lib  # without /ARCH because ast11 doesn't have that
	dh_auto_build "$@"
	mv .libs/codec_g729.so /tmp/codec_g729-ast11.so
	# Build for 13.
	rm -f config.log
	dh_auto_clean
	dh_auto_configure -- --with-asterisk130 --with-bcg729 \
	  --with-asterisk-includes=../asterisk-13/include \
	  --libdir=/usr/lib  # without /ARCH because ast11 doesn't have that
	dh_auto_build "$@"
	mv .libs/codec_g729.so /tmp/codec_g729-ast13.so

override_dh_auto_install:
	/usr/bin/install -Dt $(CURDIR)/debian/tmp/usr/lib/asterisk/modules/ \
	   /tmp/codec_g729-ast11.so /tmp/codec_g729-ast13.so

override_dh_install:
	dh_install
	for version in 11 13; do \
	    mv $(CURDIR)/debian/asterisk-g72x-g729-ast$$version/usr/lib/asterisk/modules/codec_g729-ast$$version.so \
	      $(CURDIR)/debian/asterisk-g72x-g729-ast$$version/usr/lib/asterisk/modules/codec_g729.so; \
	done

override_dh_shlibdeps:
	dh_shlibdeps -- -v
