#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Our (debian) Asterisk installs are in /usr/lib, not in
# /usr/lib/x86_64-linux-gnu.
AST_LIBDIR = /usr/lib

# Uncomment this to change the hardening options
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@ --parallel \
		--with autotools-dev --with autoreconf \
		--buildsystem=autoconf

override_dh_auto_clean:
	rm -f config.log
	dh_auto_clean

override_dh_auto_configure:
	# Skip, we'll reconfigure before each build.
	true

override_dh_auto_build:
	# Build for 16.
	rm -f config.log
	dh_auto_clean
	dh_auto_configure -- --with-asterisk160 --with-bcg729 \
	  --with-asterisk-includes=../asterisk-16/include \
	  --libdir=$(AST_LIBDIR)
	dh_auto_build "$@"
	mkdir /tmp/modules-16 && mv .libs/codec_g729.so /tmp/modules-16/
	# Build for 13.
	rm -f config.log
	dh_auto_clean
	dh_auto_configure -- --with-asterisk130 --with-bcg729 \
	  --with-asterisk-includes=../asterisk-13/include \
	  --libdir=$(AST_LIBDIR)
	dh_auto_build "$@"
	mkdir /tmp/modules-13 && mv .libs/codec_g729.so /tmp/modules-13/
	# Build for 11.
	rm -f config.log
	dh_auto_clean
	dh_auto_configure -- --with-asterisk100 --with-bcg729 \
	  --with-asterisk-includes=../asterisk-11/include \
	  --libdir=$(AST_LIBDIR)
	dh_auto_build "$@"
	mkdir /tmp/modules-11 && mv .libs/codec_g729.so /tmp/modules-11/

override_dh_auto_install:
	install -d $(CURDIR)/debian/tmp/tmp
	mv /tmp/modules-* $(CURDIR)/debian/tmp/tmp/

override_dh_shlibdeps:
	dh_shlibdeps -- -v
